body{
    background-image:url('https://img.freepik.com/free-vector/smartphone-wallpaper-decorative-trendy-design_1055-10316.jpg?w=740&t=st=1679980074~exp=1679980674~hmac=ee872ad0dadfc3ff02fa2229e75e4c014ce45bd4df0cd7503657635a94ee5420');
    background-size: cover;
 }
 .layoutcard{
    background-color: white;
    height:cover;
 }