<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Website</title>
    <link rel="stylesheet" href="code5.css">
</head>
<body>
    <div class="bgimg d-flex flex-column justify-content-end"></div>
    <div class="layoutcard">
        <h1> Mobile Website </h1>
        <p> We offer various Mobile Brands </p>
        <button class="btn btn-danger"> Order Now </button>
    </div> 
</div>
</body>
</html>